.linksList {
    width: 100%;
    animation-duration: .5s;
    position: relative;
}

.linksList a {
    text-decoration: none;
    color: #0b1c1c;
    transition: .2s;
    background-color: #109a67;
    padding: 3px;
    margin-left: 4px;
}

.linksList a:hover {
    text-decoration: none;
    color: #56f3f3;
}

.control {
    display: inline-block;
    cursor: pointer;
    padding: 3px;
    background-color: #109a67;
    margin-bottom: 10px;
}

